# Provide a comma-separated list of the domain name(s) where Fastlane will be presented
DOMAINS=paypal.com

# Create an application to obtain credentials at https://developer.paypal.com/dashboard/applications/sandbox
PAYPAL_CLIENT_ID=AUQZvcKtS5YGksx5rXf1eS5m79aXVSeeHsvyuBeoFydxiMgsiz32fZrmTVcwoOnRxyQfneENTK90zWks
PAYPAL_CLIENT_SECRET=EDk8BoongWoSfz51nuCNfqoeu7TlJFq2sl3A8vgacvNlzKV9TTx5daCU21a7_lX-9akDieyIUym7Fnep

# set if acting on behalf of another merchant
# PAYPAL_MERCHANT_ID=N55FR99S2FCMG
# PAYPAL_BN_CODE=S9XDKH7VVB8A2
